.category{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom:1px solid lightgray;
    padding: 10px;
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        & span{
            margin-right: 15px;
            font-family: 'K2D', sans-serif;
            font-size: 18px;
        }
    }
    &__item{
        font-family: 'K2D', sans-serif !important;
        margin-left: 20px;
        padding: 10px 30px;
        border-radius: 20px;
        border: 1px solid rgba($color: #000000, $alpha: 0.0);
    }
}
.active{
    border-color: rgba($color: #000000, $alpha: 1.0);
}